// This file was auto-generated by Fern from our API Definition.

package integrationproviders

import (
	context "context"
	vellumclientgo "github.com/vellum-ai/vellum-client-go"
	core "github.com/vellum-ai/vellum-client-go/core"
	option "github.com/vellum-ai/vellum-client-go/option"
	http "net/http"
	os "os"
)

type Client struct {
	baseURL string
	caller  *core.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.ApiVersion == "" {
		options.ApiVersion = os.Getenv("VELLUM_API_VERSION")
	}
	return &Client{
		baseURL: options.BaseURL,
		caller: core.NewCaller(
			&core.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Retrieve a specific integration tool definition.
func (c *Client) RetrieveIntegrationProviderToolDefinition(
	ctx context.Context,
	// The integration provider name
	integrationProvider string,
	// The integration name
	integrationName string,
	// The tool's unique name, as specified by the integration provider
	toolName string,
	opts ...option.RequestOption,
) (vellumclientgo.ComponentsSchemasComposioToolDefinition, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://api.vellum.ai"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := core.EncodeURL(
		baseURL+"/v1/integration-providers/%v/integrations/%v/tools/%v",
		integrationProvider,
		integrationName,
		toolName,
	)

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response vellumclientgo.ComponentsSchemasComposioToolDefinition
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// List all integration tools for a given provider and integration.
func (c *Client) ListIntegrationTools(
	ctx context.Context,
	// The integration provider name
	integrationProvider string,
	request *vellumclientgo.ListIntegrationToolsRequest,
	opts ...option.RequestOption,
) (*vellumclientgo.PaginatedSlimToolDefinitionList, error) {
	options := core.NewRequestOptions(opts...)

	baseURL := "https://api.vellum.ai"
	if c.baseURL != "" {
		baseURL = c.baseURL
	}
	if options.BaseURL != "" {
		baseURL = options.BaseURL
	}
	endpointURL := core.EncodeURL(baseURL+"/v1/integration-providers/%v/tools", integrationProvider)

	queryParams, err := core.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}

	headers := core.MergeHeaders(c.header.Clone(), options.ToHeader())

	var response *vellumclientgo.PaginatedSlimToolDefinitionList
	if err := c.caller.Call(
		ctx,
		&core.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			MaxAttempts:     options.MaxAttempts,
			Headers:         headers,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}
